absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiohttp-retry==2.9.1
aiosignal==1.3.1
altgraph==0.17.4
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.6.2.post1
appnope==0.1.4
asttokens==3.0.0
astunparse==1.6.3
attrs==24.2.0
bcrypt==4.3.0
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
category_encoders==2.7.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
comm==0.2.2
contourpy==1.3.0
cx_Freeze==7.2.7
cycler==0.12.1
dash==2.18.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.11
decorator==5.1.1
distlib==0.3.9
distro==1.9.0
dmgbuild==1.6.2
dnspython==2.7.0
ds-store==1.3.1
emnist==0.0
eventlet==0.39.1
executing==2.1.0
filelock==3.16.1
Flask==3.0.3
Flask-Admin==1.6.1
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-RESTful==0.3.10
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.9.0
gast==0.6.0
google-pasta==0.2.0
gphoto2==2.5.1
greenlet==3.1.1
grpcio==1.67.1
gunicorn==23.0.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.26.2
idna==3.10
imbalanced-learn==0.12.4
imblearn==0.0
importlib_metadata==8.5.0
iniconfig==2.1.0
ipykernel==6.29.5
ipython==8.31.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.7.0
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.6.0
kiwisolver==1.4.7
libclang==18.1.1
lightgbm==4.5.0
mac-alias==2.2.2
macholib==1.16.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.3.2
modulegraph==0.19.6
mpmath==1.3.0
multidict==6.1.0
namex==0.0.8
nba_api==1.6.1
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
Nuitka==2.5.4
numpy==1.26.4
openai==0.28.0
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.13.0
ordered-set==4.1.0
packaging==24.1
pandas==2.2.3
parso==0.8.4
patsy==1.0.1
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==4.25.5
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
py2app==0.28.8
pyaml==25.1.0
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
PyJWT==2.9.0
pyoxidizer==0.24.0
pyparsing==3.1.4
pytesseract==0.3.13
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.12.0
python-socketio==5.13.0
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
regex==2024.11.6
requests==2.32.3
retrying==1.3.4
rich==13.9.4
safetensors==0.4.5
scikit-learn==1.5.2
scikit-optimize==0.10.2
scipy==1.14.1
seaborn==0.13.2
setuptools==75.6.0
simple-websocket==1.1.0
six==1.16.0
smsframework==0.0.9.post3
smsframework-clickatell==0.0.3.post0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
stack-data==0.6.3
statsmodels==0.14.4
sympy==1.13.3
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
termcolor==2.5.0
textgenrnn==2.0.0
tf_keras==2.16.0
threadpoolctl==3.5.0
tokenizers==0.20.3
torch==2.2.2
torchvision==0.17.2
tornado==6.4.2
tqdm==4.67.0
traitlets==5.14.3
transformers==4.46.3
twilio==9.3.6
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
virtualenv==20.28.0
wcwidth==0.2.13
Werkzeug==3.0.4
wheel==0.44.0
wrapt==1.16.0
wsproto==1.2.0
WTForms==2.3.0
xgboost==2.1.3
yarl==1.17.1
zipp==3.20.2
zstandard==0.23.0